.wrapper{
    text-align: center;  
}

.grid{
    width: 350px;
    height: 300px;
    display:flex;
    margin: auto;
    position: relative;
}
.column{
    flex-basis: 50px;
    display:flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
}
.disc{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-top: 5px;
    pointer-events: none;
}
.disc.black{
    background: black;
}
.disc.red{
    background: red;
}
button{
    border: 2px solid black;
    font-size: x-large;
    margin-top: 20px;
}
.message{
    font-size: larger;
    margin-top: 20px;
}

table {
    pointer-events: none;
    position: absolute;
    width: 350px;
    height: 300px;
    padding: 10px;
    background: #0077EE;
    border: 1px solid #0044AA;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
     border-spacing: 5px 5px;
}

td {
    border: 5px solid blue;
    width: 95px;
    height: 95px;
    background-color: #FFFFFF;
    width: 50px;
    height: 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 2px
}
